body {
  font-family: "Times New Roman", serif;
}

p {
  margin-top: 12pt;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.center {
  text-align: center;
}

.phase {
  font-size: 12pt;
}

.note {
  font-size: 11pt;
}

.narration {
  font-size: 14pt;
}
